<header class="bg-white h-[72px] w-full flex items-center justify-between">
    <div class="mx-[120px] w-full justify-between flex items-center">
        <button class="w-[120px] h-[54px] bg-[#BFCADA] ">Logo</button>
        <div>
            <ul class="flex gap-6 leading-[17px]">
                <li>Genel Bilgiler</li>
                <li>Fiyat Listesi</li>
                <li>Toptan</li>
                <li>Bize Ulasin</li>
            </ul>
        </div>
        <button class="w-[162px] h-[54px] bg-[#D9271E]">Fiyat Teklifi</button>
    </div>
</header>