<div class="w-full h-[900px] bg-slate-300">
    <div class="flex justify-center items-center flex-col">
        <span class="text-lg mt-[404px] text-white">Hos Geldiniz</span>
        <span class="text-[72px] mt-3 font-serif text-white">SARI PETROL</span>
        <span class="text-lg flex text-center mx-[223px] text-white">Uzun yıllara dayanan deneyimimiz ve müşteri odaklı yaklaşımımızla petrol sektöründe öncü bir konumdayız. Enerji ihtiyaçlarınızı karşılamak ve işletmenizin büyümesine katkıda bulunmak için buradayız.</span>
        <button class="px-[72px] py-[18px] bg-[#D9271E] text-white mt-6">Fiyat Teklifi Al</button>

    </div>
</div>